@import '../../styles/shared.scss';

.dropdown{
    min-width: 42vw;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: $grey-background;

    // @media only screen and (max-width : 1814px) {
    //         min-width: 550px;
    //     }

    //     @media only screen and (max-width : 1314px) {
    //         min-width: 500px;
    //     }


    &__header{
        background-color: $base-color;
        border-radius: 10px;
        padding: 1rem;
        color: white;
        font-family: $font;
        font-weight: 400;
        font-size: 24px;
    }
    &__content{
        height: fit-content;
        padding: 1.5rem;
        color: $base-color;
        max-width: 800px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 142.6%;
    }
}