@import '../../styles/shared.scss';


.tag{
    display: inline-block;
    background-color: $base-color;
    color : white;
    border-radius: 11px;
    font-weight: 400;
    padding: 4px 10px;
    margin-right: 10px;
    @media only screen and (max-width : 568px){
        font-size: 14px;
    }
}