a{
    display: block !important;
    text-decoration: none;
}

.card{ 
    height: 100%;
    background-size: cover;
    background-position: center;    
    border-radius: 10px;
    display: flex;
    align-items: flex-end;



    &__title{
        color: white;
        margin : 20px;
        width: 150px;
        text-shadow: 1px 1px 1px rgb(54, 54, 54), 0 0 1em rgb(54, 54, 54), 0 0 0.2em rgb(54, 54, 54);
    }


}