@import '../../styles/shared.scss';

.header{
    display : flex;
    justify-content: space-between;
    margin : $height-gutter $width-gutter;
    margin-bottom: 0;

    &__logo{
        //width: 50%;
        height: auto;
        max-width: 100%;

        @media screen and (max-Width : (544px) ){
            width: 110px;
        }
        @media screen and (max-Width : (375px) ){
            width: 90px;
        }
    }
    // Nav container
    &__nav{
        display: flex;
        //width: 20vw;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }
    // Nav item
    &__nav-item{
        list-style: none; 
    }
    // Nav link
    &__nav-link{
        text-decoration: none;
        color : $base-color;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 142.6%;
        margin-left: 35px;

        @media screen and (max-Width : (544px) ) {
            margin-left: 25px;
            font-size: 18px;
        }
        @media screen and (max-Width : (374px) ){
            margin-left: 5px;
            font-size: 16px;

        }

        &--active{
            text-decoration: underline;  
        }
    } 

}