@import '../../styles/shared.scss';


.banner{
    margin : 100px $width-gutter;
    text-align: center;
    height: 223px;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    color: white;
    border-radius: 25px;
    background-size: cover;
    background-position: center center;

    @media screen and (max-Width : (544px) ) {
        height: 117px;
        margin : 20px $width-gutter;
        
    }
    //background-attachment: fixed;

    
    &__content{
        padding-top: 68px;
        font-size: 48px;
        line-height: 68.45px;
        font-weight: 500;
        text-align: center;
        letter-spacing: 0.05em;
        color: #FFFFFF;

        @media screen and (max-Width : (544px) ) {
            font-size: 24px;
            text-align: left;
            width: 300px;
            line-height: 100%;
            padding: 30px;
        }
    }

}